#IntelliJ
framework/.idea/
framework/build/
framework/out/
framework/res/
framework/*.iml

#VSCode
framework/.vscode/
framework/src/*.class
framework/src/musicFile/*.class
framework/src/com/mpatric/mp3agic/*.class

#General
Project.pdf

#AndroidStrudio
Listenbee/*.iml
Listenbee/.gradle
Listenbee/local.properties
Listenbee/.idea/caches
Listenbee/.idea/libraries
Listenbee/.idea/modules.xml
Listenbee/.idea/workspace.xml
Listenbee/.idea/navEditor.xml
Listenbee/.idea/assetWizardSettings.xml
Listenbee/.DS_Store
Listenbee/build
Listenbee/captures
Listenbee/.externalNativeBuild
Listenbee/.cxx

#Framework
EventDeliverySystem/*.iml
EventDeliverySystem/.gradle
EventDeliverySystem/local.properties
EventDeliverySystem/.idea/caches
EventDeliverySystem/.idea/libraries
EventDeliverySystem/.idea/modules.xml
EventDeliverySystem/.idea/workspace.xml
EventDeliverySystem/.idea/navEditor.xml
EventDeliverySystem/.idea/assetWizardSettings.xml
EventDeliverySystem/.DS_Store
EventDeliverySystem/build
EventDeliverySystem/captures
EventDeliverySystem/.externalNativeBuild
EventDeliverySystem/.cxx
